/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/config/master.key
/config/credentials.yml.enc
.env
.env.*
*.sqlite3
*.sqlite3-journal
*.sqlite3-*
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
/coverage/
/config/application.yml
