---
openapi: 3.0.1
info:
  title: 왹왹이(waek) API
  version: v1
  description: 왹왹이 iOS 앱을 위한 RESTful API 서버
  contact:
    name: API Support
paths:
  "/me/subscription":
    get:
      summary: 구독 상태 조회
      tags:
      - 구독
      description: 현재 사용자의 구독 상태를 조회합니다.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - paid
                    - trial
                    - none
                    example: none
                    description: '구독 타입: paid(유료), trial(무료체험), none(비구독)'
                  is_subscribed:
                    type: boolean
                  is_trial:
                    type: boolean
                  is_expired:
                    type: boolean
                  has_used_trial:
                    type: boolean
                  subscription_expires_at:
                    type: string
                    nullable: true
                  trial_expires_at:
                    type: string
                    nullable: true
                  days_left:
                    type: integer
    post:
      summary: 구독 활성화
      tags:
      - 구독
      description: iOS 결제 후 구독을 활성화합니다.
      security:
      - bearerAuth: []
      parameters: []
      responses:
        '200':
          description: 구독 활성화 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - subscribed
                    example: subscribed
                    description: 구독 활성화 상태
                  subscription_expires_at:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  example: ios
                transaction_id:
                  type: string
                  example: '1000000899921234'
                expires_at:
                  type: string
                  format: date-time
                  example: '2025-08-01T10:00:00Z'
                auto_renew:
                  type: boolean
                  example: true
              required:
              - platform
              - transaction_id
              - expires_at
    delete:
      summary: 구독 해지
      tags:
      - 구독
      description: 구독을 해지합니다.
      security:
      - bearerAuth: []
      responses:
        '200':
          description: 구독 해지 성공
  "/me/subscription/temp":
    post:
      summary: 임시 구독 활성화 (iOS 테스트용)
      tags:
      - 구독
      description: "⚠️ iOS 테스트용 임시 API입니다. 실제 결제 없이 구독 상태를 활성화합니다. 실제 서비스 배포 시 제거될
        예정입니다."
      security:
      - bearerAuth: []
      parameters: []
      responses:
        '200':
          description: 임시 구독 활성화 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - activated
                    - deactivated
                    example: activated
                  message:
                    type: string
                    example: 임시 구독이 활성화되었습니다 (테스트용)
                  is_subscribed:
                    type: boolean
                  subscription_expires_at:
                    type: string
                    nullable: true
                  days_left:
                    type: integer
                    nullable: true
        '400':
          description: 필수 파라미터 누락
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                activate:
                  type: boolean
                  example: true
                  description: '구독 활성화 여부 (true: 활성화, false: 비활성화)'
                is_subscribed:
                  type: boolean
                  example: true
                  description: activate와 동일한 의미 (둘 중 하나 사용)
  "/me/subscription/trial":
    post:
      summary: 무료체험 시작
      tags:
      - 구독
      description: 무료체험을 시작합니다. (1회 한정)
      security:
      - bearerAuth: []
      responses:
        '204':
          description: 무료체험 시작 성공
        '400':
          description: 이미 무료체험 사용함
servers:
- url: https://api.waek.app
  description: Production server
- url: http://localhost:3000
  description: Development server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
